@import '../../../styles/settings';
@import '../../../styles/helpers';

.ingredients-container {
  max-width: 80vw;
  margin: 0 auto;
  .ingredients-headline {
    @include alignMe(space-between, center);
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .ingredient-image {
    max-width: 3.5rem;
    border-radius: 3px;
    object-fit: contain;
  }
  .tag-cell {
    cursor: pointer;
  }
}
