@import '../../../styles/settings';
@import '../../../styles/helpers';

.salad-overview-container {
  width: 50vw;
  margin: 0 auto;
  .headlines-container {
    width: 100%;
    @include alignMe(flex-start, center);
    margin-bottom: 1.5rem;
    .salad-tag {
      margin-left: 2rem;
    }
  }
  .salad-info {
    margin-top: 3rem;
  }
}
