@import '../../../styles/settings';
@import '../../../styles/helpers';

.add-name-or-tag-container {
  width: 100%;
  @include alignMe(space-between, center);
  .tag-name-container {
    width: 30rem;
    margin-bottom: 1rem;
    .tag-name-fields-container {
      @include alignMe(space-between, center);
      margin-bottom: 0.5rem;
      .choose-salad-tag,
      .add-salad-name {
        width: 48%;
      }
      .add-tag-button,
      .add-name-button {
        width: 20%;
        height: 2.5rem;
        white-space: nowrap;
      }
      .delete-name-button,
      .delete-tag-button {
        white-space: nowrap;
      }
    }
    .name-container,
    .tag-container {
      width: 100%;
      @include alignMe(flex-start, center);
      .tag-label,
      .name-label {
        margin-right: 0.5rem;
        font-weight: $font-weight-semibold;
      }
      .tag,
      .name {
        font-size: $font-size-md;
        color: #00973c;
      }
    }
  }
}
