@import '../../../styles/settings';
@import '../../../styles/helpers';

.make-salad-container {
  max-width: 80vw;
  margin: 0 auto;
  .total-calories {
    font-size: $font-size-md;
    font-weight: $font-weight-semibold;
  }
  .name-cell,
  .tag-cell {
    cursor: pointer;
  }
}
